.layout {
  width: 1200px;
  padding-top: 41px;
  padding-left: 205px;
  padding-right: 110px;
  background-color: dodgerblue;
  .header {
    p {
      font-family: "Cormorant";
      margin-bottom: 0px;
      font-weight: 500;
      font-size: 68px;
      line-height: 68px;
      color: #212224;
    }
    background-color: goldenrod;
    margin-bottom: 42px;
  }
  .blank {
    // background-color: greenyellow;
    width: 885px;
    height: 100%;
    .menu {
      width: 100%;
      height: 44px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #f1f1f1;
      white-space: nowrap;

      ul {
        width: 100%;
        height: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: 0.4s;
        .room {
          padding-right: 30px;
          padding-left: 30px;
          font-size: 10px;
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-style: normal;
          font-weight: bold;
        }
        li {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          ul {
            background-color: #ffffff;
            height: 100%;
            font-size: 12px;
            color: #212224;
            font-weight: normal;
            li {
              margin-left: 15px;
              cursor: pointer;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
