.abs {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 101;
    top: 140px;
    width: 10px;
    .slow {
      transition: 0.6s;
      border-radius: 90px;
    }
    .active1 {
      width: 30px;
      height: 30px;
      border-radius: 90px;
      background: rgba(221, 221, 221, 0.3);
      border: 0.5px solid #a68e52;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .active2 {
      width: 20px;
      height: 20px;
      border-radius: 90px;
      background: rgba(221, 221, 221, 0.5);
      border: 0.5px solid #a68e52;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .scr {
      background-color: #a68e52;
      border-radius: 90px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 0.4s;
      cursor: pointer;
      p {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        position: absolute;
        transition: 0.4s;
        margin-left: 28px;
        cursor: pointer;
        font-size: 10px;
        color: #a68e52;

        text-transform: uppercase;
      }
      .black_ {
        color: #757575;
      }
    }

    .nav_control_btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // background-color: violet;
      margin-top: 50px;
      height: 65px;
      img {
        cursor: pointer;
      }
    }
  }
}
